<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body ng-controller="DashboardController" ng-model="labels">

	<!-- Main navbar -->
	<div class="navbar navbar-default header-highlight bg-slate-800">
		<div class="navbar-header">
			<!-- 			<a class="navbar-brand" href="#/product"><h4>{{labels.APP}}</h4></a> -->

			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i
						class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i
						class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li><a
					class="btn text-white btn-flat legitRipple sidebar-control sidebar-main-toggle hidden-xs"><img
						style="height: 30px !important;"
						ng-src="/resource/img/ss_logo.png"
						onerror="this.onerror=null;this.src='/resource/img/ss_logo.png';">
						{{labels.APP}}</a></li>

				<li class="dropdown"></li>
			</ul>

			<div class="navbar-right"></div>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">
			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
					<div class="sidebar-user-material">
						<div class="category-content">
							<div class="sidebar-user-material-content">
								<a href="#"><img src="resource/img/ss_user_1.png"
									class="img-circle img-responsive" alt=""></a>
								<h4>{{USER}}</h4>
							</div>
						</div>
					</div>

					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->

								<li><a target="_self"><i class="icon-user"></i> <span>Profile</span></a>
									<ul>

										<li><a target="_self" href="#preference">
												{{labels.PREFERENCE}}</a></li>

										<li><a target="_self" ng-click="onLogout($event)">
												{{labels.COMMON.LOGOUT}}</a></li>
									</ul></li>
								<!-- /main -->
							</ul>
						</div>
					</div>
					<!-- /main navigation -->

					<!-- /user menu -->


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">
								<li ng-repeat="menu in menus"><a
									ng-click="onSelectionMenu($event,menu)"> <i
										class="{{menu.FACE}}"></i><span>{{ menu.TITLE }}</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">
					<div ui-view="dashboardContentView"></div>
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>