<div ng-controller="LoginController" ng-model="label"
	class="md-whiteframe-13dp"
	style="float: right !important; width: 35% !important; background-color: white !important; height: 100vh !important;"
	flex layout="column">
	<div>
		<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h2 md-truncate>{{label.APP}}</h2>
		</div>
		</md-toolbar>
	</div>
	<div>
		<md-progress-linear ng-if="isLoading" md-mode="indeterminate"
			class="md-warn"></md-progress-linear>
	</div>
	<div ng-if="isRegister"
		ng-include="'components/login/registration.view.html'"></div>
	<div ng-if="!isRegister">
		<form name="form" ng-submit="login(username,password)" role="form"
			layout-padding>

			<div class="form-group"
				ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
				<md-input-container style="width: 100% !important;" class="Input">
				<label style="text-align: left !important;" for="username">{{label.USERNAME}}</label>
				<input type="text" name="username" id="username"
					class="form-control" ng-model="username" required /> <span
					ng-show="form.username.$dirty && form.username.$error.required"
					class="help-block">{{label.USERNAME}}
					{{label.ERROR.is_required}}</span></md-input-container>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
				<md-input-container style="width: 100% !important;">
				<label style="text-align: left !important;" for="password">{{label.PASSWORD}}</label>
				<input type="password" name="password" id="password"
					class="form-control" ng-model="password" required /> <span
					ng-show="form.password.$dirty && form.password.$error.required"
					class="help-block">{{label.PASSWORD}}
					{{label.ERROR.is_required}}</span> </md-input-container>
			</div>
			<div class="form-actions">
				<md-button class="md-raised md-primary" type="submit"
					ng-disabled="form.$invalid || vm.dataLoading"
					class="btn btn-primary">{{label.LOGIN}} </md-button>
				<md-button class="md-primary" ng-click="registration()"
					class="btn btn-primary">{{label.REGISTRATION}} </md-button>
			</div>
		</form>
	</div>
</div>

