<div>
	<form class="form-horizontal"
		ng-submit="onRegister(registration,referralCode)"
		ng-model="registration" name="form" role="form">
		<div class="panel-flat">
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-6"
						ng-class="{ 'has-error': form.firstname.$dirty && form.firstname.$error.required }">
						<input type="text" name="firstname" id="firstname"
							class="form-control" ng-model="registration.firstname"
							placeholder="{{label.FIRSTNAME}}" required /> <span
							ng-show="form.firstname.$dirty && form.firstname.$error.required"
							class="help-block">{{label.FIRSTNAME}}
							{{label.ERROR.is_required}}</span>
					</div>
					<div class="form-group col-md-6"
						ng-class="{ 'has-error': form.surname.$dirty && form.surname.$error.required }"
						style="margin-left: 3px !important;">
						<input type="text" name="lastname" id="lastname"
							class="form-control" ng-model="registration.lastname"
							placeholder="{{label.SURNAME}}" required required /> <span
							ng-show="form.lastname.$dirty && form.lastname.$error.required"
							class="help-block">{{label.SURNAME}}
							{{label.ERROR.is_required}}</span>
					</div>
				</div>
				<div layout="column">
					<div class="form-group"
						ng-class="{ 'has-error': form.contact.$dirty && form.contact.$error.required }">
						<input type="number" name="phoneno" id="phoneno"
							class="form-control" ng-model="registration.phoneno"
							placeholder="{{label.PHONE_NO}}" required /> <span
							ng-show="form.phoneno.$dirty && form.phoneno.$error.required"
							class="help-block">{{label.PHONE_NO}}
							{{label.ERROR.is_required}}</span> <span
							ng-show="form.phoneno.$dirty && form.phoneno.$error.number"
							class="help-block">{{label.PHONE_NO}}</span>
					</div>
					<div class="form-group"
						ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
						<input type="text" name="email" id="email" class="form-control"
							ng-model="registration.username" placeholder="{{label.USERNAME}}"
							required /> <span
							ng-show="form.email.$dirty && form.email.$error.required"
							class="help-block">{{label.USERNAME}}
							{{label.ERROR.is_required}}</span><span
							ng-show="form.username.$dirty && form.username.$error.email"
							class="help-block">{{label.USERNAME}}
							{{label.ERROR.EMAIL}}</span>
					</div>
					<div class="form-group"
						ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
						<md-input-container style="width: 100% !important;">
						<label style="text-align: left !important;" for="password">{{label.PASSWORD}}</label>
						<input type="password" name="password" id="password"
							class="form-control" ng-model="registration.password" required />
						<span
							ng-show="form.password.$dirty && form.password.$error.required"
							class="help-block">{{label.PASSWORD}}
							{{label.ERROR.is_required}}</span> </md-input-container>
					</div>
<!-- 					<div class="form-group"> -->
<!-- 						<label ng-if="isReferralCode" ng-model="referralCode">{{referralCode.username}} -->
<!-- 							[{{referralCode.referralCode}}]</label> -->
<!-- 						<md-button ng-if="!isReferralCode" class="md-primary" -->
<!-- 							ng-click="onReferral($event)" -->
<!-- 							style="width: 100% !important;padding: 0px !important;margin: 0px !important;" -->
<!-- 							class="btn btn-primary">{{label.REFERRAL}} </md-button> -->
<!-- 					</div> -->
				</div>

				<div class="form-group">
					<md-subheader class="md-primary">{{label.CONTACT_DETAILS}}</md-subheader>
				</div>
				<div layout="column">
					<div class="form-group"
						ng-class="{ 'has-error': form.contact.$dirty && form.contact.$error.required }">
						<md-input-container style="width: 100% !important;">
						<label style="text-align: left !important;" for="password">{{label.STREET}}</label>
						<input type="text" name="street" id="street" class="form-control"
							ng-model="registration.street" /> <span
							ng-show="form.street.$dirty && form.street.$error.required"
							class="help-block">{{label.STREET}}
							{{label.ERROR.is_required}}</span> </md-input-container>
					</div>
					<div layout="row">
						<div class="form-group"
							ng-class="{ 'has-error': form.contact.$dirty && form.contact.$error.required }">
							<md-input-container> <label
								style="text-align: left !important;" for="password">{{label.CITY}}</label>
							<input type="text" name="city" id="city" class="form-control"
								ng-model="registration.city" /> <span
								ng-show="form.city.$dirty && form.city.$error.required"
								class="help-block">{{label.CITY}}
								{{label.ERROR.is_required}}</span> </md-input-container>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.contact.$dirty && form.contact.$error.required }">
							<md-input-container style="width: 100% !important;">
							<label style="text-align: left !important;" for="password">{{label.STATE}}</label>
							<input type="text" name="state" id="state" class="form-control"
								ng-model="registration.state" /> <span
								ng-show="form.city.$dirty && form.city.$error.required"
								class="help-block">{{label.STATE}}
								{{label.ERROR.is_required}}</span> </md-input-container>
						</div>
					</div>
					<div layout="row">
						<div class="form-group"
							ng-class="{ 'has-error': form.contact.$dirty && form.contact.$error.required }">
							<md-input-container> <label
								style="text-align: left !important;" for="password">{{label.COUNTRY}}</label>
							<input type="text" name="street" id="street" class="form-control"
								ng-model="registration.country" /> <span
								ng-show="form.country.$dirty && form.country.$error.required"
								class="help-block">{{label.COUNTRY}}
								{{label.ERROR.is_required}}</span> </md-input-container>
						</div>
						<div class="form-group"
							ng-class="{ 'has-error': form.contact.$dirty && form.contact.$error.required }">
							<md-input-container style="width: 100% !important;">
							<label style="text-align: left !important;" for="password">{{label.PINCODE}}</label>
							<input type="text" name="city" id="city" class="form-control"
								ng-model="registration.pincode" /> <span
								ng-show="form.pincode.$dirty && form.pincode.$error.required"
								class="help-block">{{label.PINCODE}}
								{{label.ERROR.is_required}}</span> </md-input-container>
						</div>
					</div>
				</div>

				<div class="form-actions">
					<md-button class="md-raised md-primary" type="submit"
						ng-disabled="form.$invalid || vm.dataLoading"
						class="btn btn-primary">{{label.REGISTR}} </md-button>

					<md-button class="md-primary" ng-click="cancelRegistration()"
						class="btn btn-primary">{{label.CANCEL}} </md-button>
				</div>
			</div>
		</div>
	</form>
</div>