<div class="row" ng-controller="OrderController as octrl"
	ng-model="labels">
	<div class="col-md-12">
		<div class="panel panel-flat">
			<div class="panel-heading border-indigo legitRipple">
				<h5 class="panel-title">{{labels.ORDER}}</h5>
				<div ng-if="isProductDetails" class="heading-elements">
					<ul class="icons-list">
						<li ng-if="!isProduct"><a
							ng-click="onProductDetailsClose($event)"><i
								class=" icon-cross2"></i></a></li>
					</ul>
				</div>
			</div>
			<div ng-if="!isProductDetails">
				<table id="productsTable" class="table table-border" datatable="ng"
					dt-options="octrl.dtOptions">
					<thead class="bg-indigo">
						<tr>
							<th>#</th>
							<th>{{labels.ID}}</th>
							<th>{{labels.PLACED}} {{labels.DATE}}</th>
							<th>{{labels.UPDATED}} {{labels.DATE}}</th>
							<th>{{labels.TOTAL}}</th>
							<th>{{labels.STATUS}}</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="order in octrl.orders">
							<td>{{$index + 1}}</td>
							<td>{{order.id}}</td>
							<td>{{order.date.created}}</td>
							<td>{{order.date.updated}}</td>
							<td>{{order.total | currency}}</td>
							<td><span ng-if="order.status==='PLACESED'"
								class="label label-info">{{order.orderStatus}}</span><span
								ng-if="order.status==='DELIVERED'" class="label bg-success">{{order.orderStatus}}</span><span
								ng-if="order.status==='CANCEL'" class="label label-danger">{{order.orderStatus}}</span>
								<span ng-if="order.status==='OUT_FOR_DELIVERY'"
								class="label bg-orange">{{order.orderStatus}}</span></td>
							<td>
								<ul class="icons-list">
									<li class="dropdown"><a target="_self" href="#"
										class="dropdown-toggle" data-toggle="dropdown"
										aria-expanded="false"> <i class="icon-menu9"></i>
									</a>
										<ul class="dropdown-menu dropdown-menu-right">
											<li><a target="_self"
												ng-click="onOrderView($event, order)"><i
													class="icon-cart5"></i> {{labels.VIEW}}</a></li>
											<li ng-if="order.status==='PLACESED'"><a target="_self"
												ng-click="cancelOrder($event, order)"><i
													class="icon-cross2"></i> {{labels.CANCEL}}</a></li>
										</ul></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-if="isProductDetails">
				<table class="table table-border" datatable="ng"
					dt-options="octrl.dtOptions">
					<thead>
						<tr class="bg-indigo">
							<th>#</th>
							<th>{{labels.PREVIEW}}</th>
							<th>{{labels.PRODUCTS}}</th>
							<th>{{labels.QUANTITY}}</th>
							<th>{{labels.PRICE}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="!isProduct.DELETED" ng-repeat="product in products ">
							<td>{{$index + 1}}</td>
							<td><a href="{{product.product.productURL}}"
								data-popup="lightbox"> <img class="img-square img-preview"
									style="height: 70px !important;"
									ng-src="{{product.product.productURL}}"
									alt="{{product.product.name}}"
									onerror="this.onerror=null;this.src='/resource/img/ss_shopping.png';">
							</a></td>
							<td><h4 class="td-h4">{{product.product.name}}</h4>
								<p>{{product.product.remark}}</p></td>
							<td>{{product.quantity}}</td>
							<td>{{product.price | currency}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>