<div class="row" ng-controller="OrderController as octrl"
	ng-model="labels">
	<div class="col-md-12">
		<div class="panel panel-flat">
			<div class="panel-heading border-indigo legitRipple">
				<h5 class="panel-title">{{labels.ORDER}}</h5>
			</div>
			<table id="productsTable" class="table table-border" datatable="ng"
				dt-options="octrl.dtOptions">
				<thead class="bg-indigo">
					<tr>
						<th>#</th>
						<th>{{labels.ID}}</th>
						<th>{{labels.TOTAL}}</th>
						<th>{{labels.STATUS}}</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="order in octrl.orders">
						<td>{{$index + 1}}</td>
						<td>{{order.id}}</td>
						<td>{{order.total | currency}}</td>
						<td><span ng-if="order.status==='PLACESED'"
							class="label label-info">{{order.status}}</span><span
							ng-if="order.status==='DELIVERED'" class="label bg-success">{{order.status}}</span><span
							ng-if="order.status==='CANCEL'" class="label label-danger">{{order.status}}</span>
							<span ng-if="order.status==='OUT_FOR_DELIVERY'"
							class="label bg-orange">{{order.status}}</span></td>
						<td>
							<ul class="icons-list" ng-if="order.status==='PLACESED'">
								<li class="dropdown"><a target="_self" href="#"
									class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false"> <i class="icon-menu9"></i>
								</a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a target="_self"
											ng-click="cancelOrder($event, order)"><i
												class="icon-cross2"></i> {{labels.CANCEL}}</a></li>
									</ul></li>
							</ul>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</div>