<!-- Basic datatable -->
<div ng-controller="UsersController as userCtrl" class="panel">
	<div class="panel-heading  bg-teal">
		<h3 class="panel-title">{{labels.USERS}}</h3>
		<div class="heading-elements">
			<ul class="icons-list">
				<li><a data-action="reload"></a></li>
			</ul>
		</div>
	</div>


	<table class="table table-border" datatable="ng"
		dt-options="userCtrl.dtOptions">
		<thead>
			<tr class="bg-teal">
				<th>#</th>
				<th>{{labels.USERNAME}}</th>
				<th>{{labels.NAME}}</th>
				<th>{{labels.REFERRAL_CODE}}</th>
				<th>{{labels.STATUS}}</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="!user.DELETED"
				ng-repeat="user in userCtrl.users | filter:userCtrl.searchText">
				<td>{{$index + 1}}</td>
				<td>{{user.USERNAME}}</td>
				<td>{{user.FIRST_NAME}} {{user.LAST_NAME}}</td>
				<td>{{user.REFERRAL_CODE}}</td>
				<td><span ng-if="user.ACTIVATE_META.activate"
					class="label label-success">{{labels.ACTIVATE}}</span> <span
					ng-if="!user.ACTIVATE_META.activate" class="label label-info">{{labels.PENDING}}</span>
				</td>
				<td>
					<ul ng-if="!user.ACTIVATE_META.activate" class="icons-list">
						<li class="dropdown"><a target="_self" href="#"
							class="dropdown-toggle" data-toggle="dropdown"
							aria-expanded="false"> <i class="icon-menu9"></i>
						</a>

							<ul class="dropdown-menu dropdown-menu-right">
								<li><a target="_self" ng-click="activate($event,user)"><i
										class="icon-checkmark4"></i> {{labels.ACTIVATE}}</a></li>
							</ul></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>