<!-- Basic datatable -->
<div ng-controller="ProductController as productCtrl" class="panel">
	<div class="panel-heading  bg-info">
		<h3 ng-if="!isProduct" class="panel-title">{{labels.ITEM.ITEMS}}</h3>
		<h3 ng-if="isProduct" class="panel-title">{{labels.ITEM.ITEM}}</h3>
		<div class="heading-elements">
			<ul class="icons-list">
				<li ng-if="!isProduct"><a ng-click="onAddClick($event)"><i
						class="icon-plus3"></i></a></li>
				<li ng-if="isProduct"><a ng-click="onCloseClick($event)"> <i
						class="icon-cross2"></i></a></li>
			</ul>
		</div>
	</div>

	<div ng-if="isProduct"
		ng-include="'components/product/product/product.view.html'"></div>

	<div ng-if="!isProduct">
		<table class="table table-border" datatable="ng"
			dt-options="productCtrl.dtOptions">
			<thead>
				<tr class="bg-info">
					<th>#</th>
					<th>{{labels.PREVIEW}}</th>
					<th>{{labels.ITEM.ITEM}}</th>
					<th>{{labels.CATEGORY.CATEGORY1}}</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="!isProduct.DELETED"
					ng-repeat="product in productCtrl.products | filter:productCtrl.searchText">
					<td>{{$index + 1}}</td>
					<td><a href="{{product.IMAGE_URL}}"  data-popup="lightbox">
							<img class="img-square img-preview"
							ng-style="height: 70px !important;" src="{{product.IMAGE_URL}}"
							alt="{{product.NAME}}"
							onerror="this.onerror=null;this.src='/resource/img/ss_shopping.png';">
					</a></td>
					<td><h4 class="td-h4">{{product.NAME}}</h4>
						<p>{{product.REMARK}}</p></td>
					<td>{{product.CATEGORY.name}}</td>
					<td>
						<ul class="icons-list">
							<li class="dropdown"><a target="_self" href="#" class="dropdown-toggle"
								data-toggle="dropdown" aria-expanded="false"> <i
									class="icon-menu9"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
									<li><a><i class="icon-pencil7"></i> Edit</a></li>
									<li><a><i class="icon-copy"></i> Copy</a></li>
								</ul></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- /basic datatable -->