
<!-- Content area -->
<div class="content">
	<!-- 2 columns form -->
	<form class="form-horizontal" ng-model="product" name="productForm">
		<div class="">

			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<fieldset>
							<legend class="text-semibold">{{labels.DETAILS}} </legend>
							<div class="form-group form-group form-group-material">
								<label class="col-lg-3 control-label">{{labels.CATEGORY.CATEGORY}}</label>
								<div class="col-lg-9">
									<select class="form-control" aria-hidden="true"
										data-ng-options="category as category.NAME for category  in categories"
										data-ng-model="product.selectedCategory"
										ng-init="product.selectedCategory">
										<option value="">--Select one Option--</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">{{labels.COMMON.NAME}}</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" id="productName"
										name="productName" ng-model="product.name"
										placeholder="{{labels.ITEM.ITEM}} {{labels.COMMON.NAME}}"
										required>
									<div ng-messages="productForm.productName.$error">
										<div ng-message="required">{{labels.product.product}}
											{{labels.COMMON.NAME}} {{labels.ERROR.REQUIRED}}</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">{{labels.ITEM.PRICE}}</label>
								<div class="col-lg-9">
									<input class="form-control" name="productPrice"
										ng-model="product.price" type="number"
										placeholder="{{labels.ITEM.ITEM}} {{labels.ITEM.PRICE}}"
										required>
									<div ng-messages="productForm.productPrice.$error">
										<div ng-message="required">{{labels.ITEM.PRICE}}
											{{labels.ERROR.REQUIRED}}</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">{{labels.ITEM.POINTS}}</label>
								<div class="col-lg-9">
									<input class="form-control" name="productPoints"
										ng-model="product.points" type="number"
										placeholder="{{labels.ITEM.ITEM}} {{labels.ITEM.POINTS}}"
										required>
									<div ng-messages="productForm.productPoints.$error">
										<div ng-message="required">{{labels.ITEM.POINTS}}
											{{labels.ERROR.REQUIRED}}</div>
									</div>
								</div>
							</div>

							<div class="form-group form-group">
								<label class="col-lg-3 control-label">{{labels.ITEM.IMAGE}}</label>
								<div class="col-lg-9">
									<div class="media no-margin-top">
										<div class="media-body">
											<div class="uploader">
												<input type="file" name="pic" accept="image/*"
													class="file-styled"
													onchange="angular.element(this).scope().uploadFile(this.files[0])"><span
													class="action btn bg-info legitRipple"
													style="user-select: none;">Choose File</span>
											</div>
										</div>
										<div class="media-right">
											<a target="_self"><img
												class="img-responsive img-rounded media-preview"
												ng-src="{{product.imageSrc}}" alt=""
												onerror="this.onerror=null;this.src='resource/assets/images/placeholder.jpg';"></a>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">{{labels.COMMON.REMARK}}</label>
								<div class="col-lg-9">
									<textarea name="productRemark" ng-model="product.remark"
										rows="5" cols="5" class="form-control" ng-minlength="30"
										required
										placeholder="{{labels.ITEM.ITEM}} {{labels.COMMON.REMARK}}"></textarea>
									<div ng-messages="productForm.productRemark.$error">
										<div ng-message="required">{{labels.COMMON.REMARK}}
											{{labels.ERROR.REQUIRED}}</div>
										<div ng-message="minlength">{{labels.COMMON.REMARK}}
											{{labels.ERROR.DESC_MIN_LENGTH}}</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>

				<div class="text-right">
					<button type="submit" class="btn btn-primary"
						ng-click="onSave($event,product,image)">{{labels.COMMON.SAVE}}
					</button>
				</div>
			</div>
		</div>
	</form>
	<!-- /2 columns form -->
</div>