<!-- Basic datatable -->
<div ng-controller="CategoriesController as categoryTeableCtrl"
	class="panel">
	<div class="panel-heading  bg-blue-600">
		<h3 ng-if="!isCategory" class="panel-title">{{labels.CATEGORY.CATEGORIES}}</h3>
		<h3 ng-if="isCategory" class="panel-title">{{labels.CATEGORY.CATEGORY}}</h3>
		<div class="heading-elements">
			<ul class="icons-list">
				<li ng-if="!isCategory"><a ng-click="onAddClick($event)"><i
						class="icon-plus3"></i></a></li>
				<li ng-if="isCategory"><a ng-click="onCloseClick($event)">
						<i class="icon-cross2"></i>
				</a></li>
			</ul>
		</div>
	</div>

	<div ng-if="isCategory"
		ng-include="'components/product/category.view.html'"></div>

	<div ng-if="!isCategory">
		<table class="table table-border" datatable="ng"
			dt-options="categoryTeableCtrl.dtOptions">
			<thead>
				<tr class="bg-blue-600">
					<th>#</th>
					<th>{{labels.CATEGORY.CATEGORY1}}</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="!category.DELETED"
					ng-repeat="category in categoryTeableCtrl.categories | filter:categoryTeableCtrl.searchText">
					<td>{{$index + 1}}</td>
					<td><h4 class="td-h4">{{category.NAME}}</h4>
						<p>{{category.REMARK}}</p></td>
					<td>
						<ul class="icons-list">
							<li class="dropdown"><a target="_self"
								class="dropdown-toggle" data-toggle="dropdown"
								aria-expanded="false"> <i class="icon-menu9"></i>
							</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a target="_self"
										ng-click="onEditClick($event,category)"><i
											class="icon-pencil7"></i> Edit</a></li>
								</ul></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- /basic datatable -->