<div style="height: 100% !important;">
	<!-- 	slide-nav -->
	<md-sidenav class="md-sidenav-left md-whiteframe-9dp"
		md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
		style="height:100% !important;width: 100% !important;"> <md-toolbar
		class=" md-whiteframe-1dp" layout="column"
		style="height:130px !important;"> <img
		src="/resource/img/ss_shopping.jpg" alt="shopping"
		height="100% !important;" width="100% !important;"
		style="opacity: 0.8 !important; max-height: 100vh !important;">
	<h1
		style="position: absolute !important; top: 20% !important; color: white !important; font-size: 30px !important;">{{labels.APP}}</h1>
	</md-toolbar> <md-content
		style="height: 100vh !important; overflow-y: auto !important;"
		layout-padding> <md-list> <md-list-item
		class="md-1-line" ng-repeat="menu in menus"
		ng-click="onSelectionMenu($event,menu)">
	<div class="md-list-item-text" layout="column">
		<h4>{{ menu.TITLE }}</h4>
	</div>
	<md-divider ng-if="!$last"></md-divider> </md-list-item> </md-list> </md-content>
	<div>
		<md-toolbar class=" md-whiteframe-9dp" class="title-toolbar">
		<div class="md-toolbar-tools">
			<md-menu> <md-button
				ng-click="openMenu($mdOpenMenu, $event)"> <i
				class="fa fa-user" aria-hidden="true"></i> {{USER}}</md-button> <md-menu-content>
			<md-menu-item layout="column"> <md-button
				ng-click="onLogout($event)"> {{labels.COMMON.LOGOUT}} </md-button> </md-menu-item></md-menu-content></md-menu>
		</div>
		</md-toolbar>
	</div>
	</md-sidenav>
	<!-- end -->
</div>