<div class="sub-content">

	<form  ng-model="category" name="categoryForm" layout="column"
		layout-padding class="add-item">
		<div>
			<md-input-container class="md-block"> <label>{{labels.COMMON.CODE}}</label>
			<i class="fa fa-key icon-size" aria-label="fa fa-trash"></i> <input
				type="text" name="categoryCode" ng-model="category.code"
				ng-minlength="5" required ng-disabled="category.isEdit" md-autofocus />
			<div class="hint">{{labels.CATEGORY.PREFIX}}- {{category.code}}</div>
			<div ng-messages="categoryForm.categoryCode.$error">
				<div ng-message="required">{{labels.CATEGORY.CATEGORY}}
					{{labels.COMMON.CODE}} {{labels.ERROR.REQUIRED}}</div>
				<div ng-message="minlength">{{labels.COMMON.CODE}}
					{{labels.ERROR.CODE_MIN_LENGTH}}</div>
			</div>
			</md-input-container>
		</div>
		<div>
			<md-input-container class="md-block"> <label>{{labels.COMMON.NAME}}</label>
			<i class="fa fa-tags icon-size" aria-label="fa fa-tags"></i>
			<input name="categoryName" ng-model="category.name" required>
			<div ng-messages="categoryForm.categoryName.$error">
				<div ng-message="required">{{labels.ITEM.ITEM}}
					{{labels.COMMON.NAME}} {{labels.ERROR.REQUIRED}}</div>
			</div>
			</md-input-container>
		</div>
		<div>
			<md-input-container class="md-block"> <label>{{labels.COMMON.DESCRIPTION}}</label>
			<i class="fa fa-info-circle icon-size" aria-label="fa fa-info-circle"></i>
			<textarea name="categoryDesc" ng-model="category.desc"
				ng-minlength="30" required></textarea>
			<div ng-messages="categoryForm.categoryDesc.$error">
				<div ng-message="required">{{labels.CATEGORY.CATEGORY}}
					{{labels.COMMON.DESCRIPTION}} {{labels.ERROR.REQUIRED}}</div>
				<div ng-message="minlength">{{labels.COMMON.DESCRIPTION}}
					{{labels.ERROR.DESC_MIN_LENGTH}}</div>
			</div>
			</md-input-container>
		</div>
		<div>
			<md-input-container class="md-block"> <label>{{labels.ITEM.ITEMS}}</label>
			<i class="fa fa-tag icon-size" aria-label="fa fa-tag"></i>
			<md-select ng-model="categoryTeableCtrl.selectedItem" md-on-close="clearSearchTerm()"
				ng-model-options="{trackBy: '$value.CODE'}" multiple> <md-select-header
				class="demo-select-header"> <input
				style="height: 30px !important;" ng-model="searchTerm" type="search"
				placeholder="Search item" class="demo-header-searchbox md-text" ng-keydown="updateSearch($event)"/>
			</md-select-header> <md-optgroup label="ITEMS"> <md-option ng-value="item"
				ng-repeat="item in ITEMS |filter:searchTerm">{{item.NAME}}</md-option>
			</md-optgroup> </md-select> </md-input-container>
		</div>
	</form>
</div>