<div>
	<!-- header toolbar -->
	<md-toolbar class="md-hue-2"
		style="opacity: 0.7 !important;    height: 40px !important;"
		hide-gt-md>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="menu"
			ng-click="onMenuClick($event)"> <i class="material-icons"
			style="font-size: 20px !important;">menu</i></md-button>
		<h2>{{labels.APP}}</h2>
	</div>
	</md-toolbar>
	<!-- end -->

	<!-- 	slide-nav -->
	<md-sidenav class="md-sidenav-left" md-component-id="left"
		md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="9"
		style="height:100vh !important; width: 50% !important; border: 1px #babdb6 solid !important;">

	<md-toolbar> <img src="resource/img/dish.jpg" alt="dish"
		height="100 !important;" width="100% !important;"
		style="opacity: 0.8 !important;">
	<h1
		style="position: absolute !important; top: 50% !important; color: white !important; font-size: 30px !important;">{{labels.APP}}</h1>
	</md-toolbar> <md-content layout-padding> <md-list layout-padding>
	<md-list-item class="md-1-line" ng-repeat="menu in menus"
		ng-click="onSelectionMenu($event,menu)"> <i
		class="{{menu.FACE}}" aria-hidden="true" style="font-size: 18px !important;"
		aria-label="{{menu.FACE}}"></i> 
	<div class="md-list-item-text" layout="column">
		<h4>{{ menu.TITLE }}</h4>
	</div>
	</md-list-item> </md-list> </md-content> </md-sidenav>
	<!-- end -->

</div>