* {
	font-size: 13px !important;
}

html, body {
	width: 100% !important;
	padding: 0px !important;
	margin: 0px !important;
	height: 100% !important;
	background-color: #f3f3f3 !important;
}

p {
	word-break: break-all !important;
	white-space: normal !important;
}

h6 {
	font-size: 12px !important;
	padding: 0px !important;
	margin: 0px !important;
}

h5 {
	font-size: 14px !important;
	padding: 0px !important;
	margin: 0px !important;
}

h4 {
	font-size: 16px !important;
	padding: 0px !important;
	margin: 0px !important;
}

h3 {
	font-size: 18px !important;
	padding: 0px !important;
	margin: 0px !important;
}

h2 {
	font-size: 20px !important;
	padding: 0px !important;
	margin: 0px !important;
}

h1 {
	font-size: 24px !important;
	padding: 0px !important;
	margin: 0px !important;
}

Input {
	padding-left: 3px !important;
	text-align: left !important;
	margin: 0px !important;
	padding-left: 3px !important;
}

hr {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border: none !important;
	border-top: 1px solidrgb(0, 150, 136) !important;
}

input {
	border: none !important;
	border-bottom: 1px solid graytext !important;
	background: none !important;
	box-shadow: none !important;
}

.container {
	width: 100% !important;
	height: 98vh !important;
	overflow-y: auto !important;
	padding: 0px !important;
	margin: 0px !important;
	background-color: none !important;
}

.top-container {
	width: 100% !important;
	height: 100vh !important;
	padding: 0px !important;
	margin: 0px !important;
}

.container-fluid {
	padding: 0px !important;
	margin: auto !important;
}

.content-background {
	border: 1px rgba(0, 0, 0, .2) solid !important;
	background-color: #ECEFF1 !important;
}

.sub-title-section {
	height: 30px !important;
	background-color: #ffffff !important;
	padding-left: 8px !important;
	padding-top: 3px !important;
}

md-list-item, md-list-item .md-list-item-inner {
	min-height: 0px !important;
}

.col-md-4 {
	width: 28% !important;
}

.col-md-3 {
	width: 20% !important;
}

.col-md-2 {
	width: 14% !important;
}

.errorBlock {
	color: rgb(255, 235, 59) !important;
}

/* default label */
label {
	text-align: center !important;
	border-style: hidden !important;
	margin: 0px !important;
	font-weight: 0 !important;
}

/* default label */
.label {
	color: rgb(255, 255, 255) !important;
	text-align: center !important;
	font-size: 12px !important;
	border-style: hidden !important;
	margin: 0px !important;
	padding: 0px !important;
	font-weight: 0 !important;
}

/* drop-downs buttons */
.dropDowntbutton {
	text-align: left !important;
	width: 200px !important;
	background: none !important;
	border-bottom: 1px solid gray !important;
}

/* drop-downs buttons list */
.list-inline>li {
	padding-right: 0px !important;
	padding-left: 0px !important;
	border: 0px !important;
}

.defaultlistitem {
	position: relative;
	padding: 5px 0px;
	margin-bottom: -1px;
	border: none !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle !important;
}

.filter-ctrl {
	float: right !important;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
	margin-left: 7px !important;
}

.form-group {
	margin-bottom: 0px !important;
}

.md-datepicker-input-container {
	border-bottom: none !important;
	border-bottom-style: none !important;
}

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio
	{
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 40px !important;
}

tbody {
	height: 180px;
}

tbody button {
	padding: 0px;
}

&
.datepicker-mode-1, &.datepicker-mode-2 {tbody button { height:65px;
	
}

}
}

/* default checkbox */
.checkbox {
	border: none !important;
	text-align: left !important;
}
/* default checkbox label */
.checkbox label, .radio label {
	font-size: 12px !important;
	color: rgb(255, 255, 255) !important;
}

/* table  */
.table {
	margin: 0px !important;
	padding: 0px !important;
}

/* data-table scrollbar head */
.dataTables_scrollHeadInner {
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
}

/* data-table scrollbar body */
.dataTables_scrollBody {
	position: relative !important;
	overflow: auto !important;
	width: 100% !important;
	border: 1px solid #ddd !important;
}
/* paging postion */
.left {
	float: left !important;
}

/* paging panle */
.pagination {
	display: inline-block !important;
	margin: 0px !important;
	padding-left: 0px !important;
	margin: 10px !important;
}

/* paging button active */
.pagination>li>a, .pagination>li>span {
	position: relative !important;
	float: left !important;
	padding: 7px 13px !important;
	margin-left: -1px !important;
	line-height: 1.42857143 !important;
	color: rgb(255, 255, 255) !important;
	background-color: #78909C !important;
	border: 1px solid #ddd !important;
}

/* paging button inactive*/
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover,
	.pagination>.disabled>span, .pagination>.disabled>span:focus,
	.pagination>.disabled>span:hover {
	color: #777 !important;
	cursor: not-allowed !important;
	background-color: #78909C !important;
	border-color: 1px solid #ddd !important;
}

/* export button position */
.right {
	float: right !important;
	margin: 10px !important;
}

/* export button */
button.dt-button, div.dt-button, a.dt-button {
	box-sizing: border-box !important;
	border: none !important;
	cursor: pointer !important;
	color: rgb(255, 255, 255) !important;
	background-color: rgb(158, 158, 158) !important;
	background-image: none !important;
}

/* export button-list */
div.dt-button-collection button.dt-button, div.dt-button-collection div.dt-button,
	div.dt-button-collection a.dt-button {
	margin: 0px !important;
	background-color: rgb(255, 255, 255) !important;
	color: rgb(0, 0, 0) !important;
	background-color: white !important;
}

.table-columns {
	text-align: center !important;
}

/* alert */
.alert {
	background-color: rgb(186, 71, 67) !important;
	color: rgb(255, 255, 255) !important;
	padding: 15px !important;
	border: 1px solid transparent !important;
	border-radius: 4px !important;
	padding: 15px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	text-align: center !important;
}

.login-icon {
	font-size: 40px !important;
}

/* table body height */
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td
	{
	height: 20px !important;
	vertical-align: center !important;
}

/* table cell aligen */
.cell-center {
	text-align: center !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	vertical-align: center !important;
}

.div {
	border: 1px solid white !important;
	padding-left: 5px !important;
	padding-right: 1px !important;
	padding-bottom: 5px !important;
	margin-top: 10px !important;
}

.div>h1 {
	text-align: left !important;
	margin-top: -8px !important;
	line-height: 13px !important;
	font-size: 15px !important;
}

.div>h1>span {
	background-color: rgb(0, 150, 136) !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
}

.menu-bar {
	border: 1px gray solid !important;
}

.menu-bar-icons {
	font-size: 30px !important;
	color: grey !important;
}

.dialouge-height {
	height: 300px !important;
	/* 	min-width: 1000px !important; */
}

.md-subheader .md-subheader-inner {
	padding: 0px !important;
	margin: 0px !important;
}

.table-button {
	padding: 0px !important;
	margin: 0px !important;
	line-height: 0px !important;
	min-width: 50px !important;
	max-width: 50px !important;
}

.dialouge-add-button {
	line-height: 0px !important;
	min-width: 50px !important;
}

md-list-item.md-2-line, md-list-item.md-2-line>.md-no-style {
	height: auto !important;
	min-height: 20px !important;
}

md-list-item .md-no-style, md-list-item.md-no-proxy {
	padding: 0px !important
}

md-list {
	display: block !important;
	padding: 0px !important;
}

.scroll-cell {
	overflow-y: auto !important;
	height: auto !important;
	padding: 0px !important;
	margin: 0px !important;
	max-height: 50px !important;
	width: 200px !important;
}

.divider {
	color: white !important;
}

table {
	border-collapse: collapse;
}

.input-uploader {
	border: none !important;
	height: 100% !important;
}

.dropbox {
	width: 100% !important;
	height: 150px !important;
	text-align: center !important;
	color: #babdb6 !important;
	cursor: pointer !important;
}

.dropbox span {
	margin-top: 0.9em !important;
	display: block !important;
	height: 400px !important;
}

.dropbox.not-available {
	background-color: #ff8888 !important;
}

.dropbox.over {
	background-color: #ffffff !important;
	border: 3px dotted #babdb6 !important;
}

.highlighted-column {
	color: #f57900 !important;
}

.download-cursor {
	cursor: pointer !important;
}

.download-link {
	color: blue !important;
	text-decoration: none;
}

.to-uppercase {
	text-transform: uppercase !important;
}

.default-icon-size {
	font-size: 13px !important;
}

.default-background {
	background-color: #ffffff !important;
	border: 1px #babdb6 solid !important;
}

md-datepicker.md-default-theme, md-datepicker {
	background: none !important;
}

.date-update {
	color: #888a85 !important;
	margin-top: 15px !important;
	font-size: 15px !important;
	cursor: pointer !important;
}

md-toolbar {
	min-height: 0px !important;
	height: 40px !important;
}

md-progress-linear {
	margin: 0px !important;
	padding: 0px !important;
}

md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content
	{
	background-color: #C62828 !important;
	opacity: 0.9 !important;
}

md-card:HOVER {
	opacity: 0.7 !important;
}

md-card md-card-header {
	padding: 3px !important;
	color: #78909C !important;
}

md-card md-card-title {
	padding: 3px !important;
}

md-dialog {
	opacity: 0;
	min-width: 700px !important;;
	max-width: 90% !important;;
	max-height: 90% !important;
}

md-input-container {
	padding: 0px !important;
	margin: 0px !important;
}

.category-head-section {
	height: 40px !important;
	padding: 0px !important;
	margin: 0px !important;
}

md-chips {
	display: block !important;
	padding: 0 0 4px 2px !important;
	vertical-align: middle !important;
}

md-chips.md-default-theme .md-chips, md-chips .md-chips {
	box-shadow: none !important;
}

md-chips md-chip {
	line-height: 25px !important;
	margin: 1px 2px 0 0 !important;
	padding: 0 13px !important;
}

.table-background {
	background-color: #ffffff !important;
	border: 1px #ddd solid !important;
}

.table-head-background {
	background-color: #78909C !important;
	color: #ffffff !important;
}

.choose-bottom {
	border-bottom: none !important;
}

.group-list-header {
	height: 35px !important;
}

md-list-item .md-list-item-inner:before, md-list-item:before {
	min-height: 0px !important;
}

.icon-size {
	font-size: 18px !important;
}

.add-item {
	background: #ffffff !important;
	border: 1px #ddd solid !important;
}

.sub-content {
	width: 50% !important;
	margin: 0 auto !important;
}

.topbar-buttons {
	font-size: 24px !important;
	color: #ffffff !important;
}

/* #smart-shopper */
.title-text {
	color: #455A64 !important;
}

md-divider[md-inset] {
	margin-left: none !important;
}

.title-toolbar {
	background: none !important;
}

.center {
	margin: auto !important;
	width: 60% !important;
	margin-top: 20% !important;
	font-family: Georgia, "Times New Roman", Times, serif !important;
	color: red !important;
}

.img-div {
	background-color: none !important;
	background-image: url('/resource/img/ss_shopping.jpg');
	background-size: contain !important;
	background-repeat: no-repeat;
	width: 100% !important;
}

.demo-menu-example {
	background: white;
	border-radius: 4px;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px
		rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
	width: 256px;
}

md-toolbar {
	height: 45px !important;
}

.button {
    background: none !important;
    padding: 8px !important;
    margin: 0px !important;
    border: none !important;
    border: 1px #455A64 solid !important;
}