
<style type="text/css">
#slides_control {
	position: absolute;
	width: 1109px !important;
	height: 315px !important;
	top: 20px;
}
</style>

<div ng-controller="DashboardCardController as ctrl" ng-model="labels"
	style="margin-top: 30% !important;">
	<div class="row">
		<div>
			<div id="slides_control">
				<div>
					<carousel interval="myInterval"> <slide
						ng-repeat="slide in slides" active="slide.active"> <img
						ng-src="{{slide.image}}" style="width: 1109px; height: 315px;">
					<div class="carousel-caption"></div>
					</slide> </carousel>
				</div>
			</div>
		</div>
	</div>

	<div ng-repeat="category in categories">
		<!-- Image grid-->

		<h6 class="content-group text-semibold">{{category.NAME}}</h6>
		<div class="row">
			<div ng-repeat="product in category.PRODUCTS">
				<div class="col-lg-3 col-sm-6">
					<div class="thumbnail">
						<div class="thumb">
							<img style="height: 256px !important;"
								ng-src="{{product.productURL}}" alt="{{product.name}}"
								onerror="this.onerror=null;this.src='/resource/img/ss_shopping.png';">
							<!-- 							<div class="caption-overflow"> -->
							<!-- 								<span> <a href="{{product.productURL}}" -->
							<!-- 									data-popup="lightbox" -->
							<!-- 									class="btn border-white text-white btn-flat btn-icon btn-rounded"><i -->
							<!-- 										class="icon-plus3"></i></a> <a target="_self" href="#" -->
							<!-- 									class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i -->
							<!-- 										class="icon-link2"></i></a> -->
							<!-- 								</span> -->
							<!-- 							</div> -->
						</div>

						<div class="caption"
							style="border-top: 1px solid rgba(128, 128, 128, 0.45) !important;">
							<h6 class="no-margin-top text-semibold">
								<a target="_self" class="text-default">{{product.name}}</a> <a
									target="_self" ng-click="onProductClick($event)"
									class="text-muted" ng-click="onProductClick($event)"> <i class="icon-cart-add2 pull-right"></i></a>
							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


