
<style type="text/css">
#slides_control {
	position: absolute;
	width: 1109px !important;
	height: 315px !important;
	top: 20px;
}
</style>

<div ng-controller="DashboardCardController as ctrl" ng-model="labels"
	style="margin-top: 30% !important;">
	<div class="row">
		<div>
			<div id="slides_control">
				<div>
					<carousel interval="myInterval"> <slide
						ng-repeat="slide in slides" active="slide.active"> <img
						ng-src="{{slide.image}}" style="width: 1109px; height: 315px;">
					<div class="carousel-caption"></div>
					</slide> </carousel>
				</div>
			</div>
		</div>
	</div>

	<div ng-repeat="category in categories">
		<!-- Image grid-->

		<div class="row">
			<h6 class="content-group text-semibold col-md-10">{{category.NAME}}</h6>
			<button ng-if="category.PRODUCTS.length == 4" type="button"
				class="btn bg-indigo btn-sm pull-right col-md-1"
				ng-click="onCategorySelection($event,category)">More</button>
		</div>
		<div class="row">
			<div ng-repeat="product in category.PRODUCTS">
				<div class="col-lg-3 col-sm-6" style="overflow-x: auto !important;">
					<div class="thumbnail">
						<div class="thumb" ng-click="onCategorySelection($event,category)"
							style="cursor: pointer;">
							<img style="height: 256px !important;"
								ng-src="{{product.productURL}}" alt="{{product.name}}"
								onerror="this.onerror=null;this.src='/resource/img/ss_shopping.png';">

						</div>

						<div class="caption"
							style="border-top: 1px solid rgba(128, 128, 128, 0.45) !important;">
							<h6 class="no-margin-top text-semibold">
								<a target="_self" class="text-default">{{product.name}}</a> <a
									target="_self" class="text-muted"
									ng-click="onAddToCart($event,product)"><i
									class="icon-cart-add2 pull-right"
									style="font-size: 20px !important;"></i></a>
							</h6>
							{{product.price | currency}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


