<div>
	<!-- header toolbar -->
	<md-toolbar class="md-hue-2 md-whiteframe-9dp">
	<div class="md-toolbar-tools">
		<md-button hide-gt-md class="md-icon-button" aria-label="menu"
			ng-click="onMenuClick($event)"> <i class="material-icons"
			style="font-size: 20px !important;">menu</i></md-button>
		<span flex></span>

		<md-button ng-if="!isLoggedIn" ng-click="onRegister($event)">{{labels.REGISTR}}</md-button>
		<md-button ng-if="!isLoggedIn" ng-click="onLogin($event)">{{labels.LOGIN}}</md-button>

		<h2 ng-if="isLoggedIn">Welcome, {{USER}}</h2>
		<md-button ng-if="isLoggedIn"
			class="md-icon-button demo-menu-open-button" aria-label="More"
			ng-click="onLogout($event)"> <i class="fa fa-sign-out"
			aria-hidden="true" style="font-size: 25px !important;"></i> <md-tooltip
			ng-if="!isCategory" md-direction="bottom">
		{{labels.COMMON.LOGOUT}} </md-tooltip> </md-button>
	</div>
	</md-toolbar>
	<!-- end -->

</div>