/build/


.classpath
.gradle/
.project
.settings/
bin/*
lib/bin/*
service/bin/*
web/bin/*
web-admin/bin/*
common/bin/*
lib/build/*
web/build/*
web-admin/build/*
service/build/*
common/build/*
launcher/build/*
lib/.gitignore
web/.gitignore
web-admin/.gitignore
service/.gitignore
common/.gitignore
.idea
